extends layout

block content
  h1= title
  p Rows: #{query.rows} Column: #{query.cols}
  - let rows = Number(query.rows)
  - let cols = Number(query.cols)
  if (!Number.isInteger(rows) || !Number.isInteger(cols))
    p This is not an integer
  else if ((rows > 6) || (rows < 1) )
    p This row mumber appears to be too large
  else if ((cols > 6) || (cols < 1) )
    P The col number is too large
  - else
    table#outer
        - for(let i=0; i<rows; i++) {
            tr#middle
                - for(let j = 0; j<cols; j++) {
                  td=((i+j)%rows)
                - }

        - }
