extends layout

block content
  h1= title
  - let image_names = ["i1.jpg", "i2.jpg", "i3.jpg", "i4.jpg", "i4.jpg"]
  - for (var i=0; i<3;i++) {
      - let idx = Math.floor(Math.random()*5);
      img(src=`/images/${image_names[idx]}`, alt="", height="300", width="300")
  - }